<span class='position'><%= @backlog_item.position %></span>

<h1><%= @backlog_item.name %></h1>

<span class='tags'>
    <% @backlog_item.project_list.each do |project| %>
      <span class='label'><%= @backlog_item.project_list %></span>
    <% end %>
    <% @backlog_item.label_list.each do |label| %>
      <span class='label label-inverse'><%= @backlog_item.label_list %></span>
    <% end %>
</span>

<span class='status'><%= @backlog_item.status %></span>

<hr>

<p class='description'>
  <%= @backlog_item.description %>
</p>

<hr>

<div class="discussion">
  <strong>Comments</strong>
  <% @backlog_item.comments.each do |comment| %>
    <p><%= comment.comment %></p>
  <% end %>
</div>

<div class='dates muted'>
  Created by <strong><%= @backlog_item.creator.email %></strong> on <%= l @backlog_item.created_at, :format => :notime %> and <strong>last updated</strong> <%= l @backlog_item.updated_at, :format => :notime %>
</div>
