<span class='position'><%= @backlog_item.position %></span>

<h1><%= @backlog_item.name %></h1>

<span><strong>Status</strong> <%= @backlog_item.status %></span>

<p class='description'><strong>Description -</strong> <%= @backlog_item.description %></p>

<span><strong>Projects</strong> <%= @backlog_item.project_list %></span>
<span><strong>Labels</strong> <%= @backlog_item.label_list %></span>

<div class="discussion">
  <strong>Comments</strong>
  <% @backlog_item.comments.each do |comment| %>
    <p><%= comment.comment %></p>
  <% end %>
</div>

<div class='dates muted'>
  Created by <strong><%= @backlog_item.creator.email %></strong> on <%= l @backlog_item.created_at, :format => :notime %> and <strong>last updated</strong> <%= l @backlog_item.updated_at, :format => :notime %>
</div>
