<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %>OnebacklogCom</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='container'>
    <nav class='navbar' role='navigation'>
        <div class="navbar-header">
            <a class="navbar-brand" href="/">1bl</a>
        </div>
        <div class="navbar-left">
            <ul class='nav navbar-nav'>
                <li><a href='/onebacklog/'>OneBacklog</a></li>
            </ul>
        </div>
    </nav>

      <%= yield %>
  </div>

</body>
</html>
